.txt h1,h2,p{
padding:0;
margin:0;
margin-top:5px;
}
.opit{
	float:left; 
	width:250px;
	height:auto;
}


img{
	float:right;
	border-radius:100px;
	height:150px;
	width:150px;
}
.center{
	
	width:100%;
	height:auto;
}

.left{
	width:50%;
	float:left;
	height:auto;
}

.right{
	width:50%;
	float:right;
	height:auto;
}

.text{
	width:200px;
	height:auto;
	float:left;
	
}